<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
    <title>沼气主页</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" type="text/css" rel="stylesheet">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/100892/32780/595b3b27f629d80b1873b566.css'
          rel='stylesheet' type='text/css'/>
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--响应折叠按钮样式-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brand" class="navbar-brand" herf="/">浙江省沼气安全检测预警系统</a>
        </div>
        <!--折叠区域的文字内容-->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>欢迎[管理员]</a></li>
                <li><a href="/help">帮助</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="row main_message text-center">
            <div class="col-md-4">
                <p><i class="glyphicon glyphicon-flag"></i> 总监测点:</p>
                <p class="p1">23</p>
            </div>
            <div class="col-md-4">
                <p><i class="glyphicon glyphicon-warning-sign"></i> 正在报警监测点:</p>
                <p class="p2">01</p>
            </div>
            <div class="col-md-4">
                <p><i class="glyphicon glyphicon-exclamation-sign"></i> 今日报警量:</p>
                <p class="p2">02</p>
            </div>
        </div>
        <div class="row search text-center">
            <div class="col-md-3 map_message">
                <div class="white-panel pn donut-chart">
                    <div class="hangzhou col-md-12">
                        <div class="white-header">
                            <h5 class="pane-text-head">杭州 <span class="En">Hangzhou</span></h5>
                        </div>
                        <div class="white-data">
                            <p class="p1">监测点总量(个):<span class="p2"> 04</span></p>
                            <p class="p1">沼气平均浓度(%):<span class="p2"> 35</span></p>
                            <p class="p1">今日报警数(次):<span class="p2"> 01</span></p>
                            <p class="p1">七日报警量(次):<span class="p2"> 02</span></p>
                        </div>
                    </div>
                    <div class="lishui col-md-12">
                        <div class="white-header">
                            <h5 class="pane-text-head">丽水 <span class="En">Lishui</span></h5>
                        </div>
                        <div class="white-data">
                            <p class="p1">监测点总量(个):<span class="p2"> 04</span></p>
                            <p class="p1">沼气平均浓度(%):<span class="p2"> 35</span></p>
                            <p class="p1">今日报警数(次):<span class="p2"> 01</span></p>
                            <p class="p1">七日报警量(次):<span class="p2"> 02</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 map">
                <img src="static/css/images/map1.jpg" class="img-responsive" usemap="#zhejiang" alt="zhejiang"/>
                <map name="zhejiang" id="zhejiang">
                    <area shape="polygon" coords="265,5,288,5,328,70,227,75" href="" alt="huzhou">
                    <area shape="polygon" coords="187,94,325,94,259,192,154,192" href="/dashboard" alt="hangzhou">
                    <area shape="polygon"
                          coords="334,275,384,209,451,257,438,275,452,370,414,370,414,341,393,329,413,299,377,272,348,285,334,275"
                          href="" alt="taizhou">
                    <area shape="polygon" coords="183,285,317,285,322,344,268,344,225,395,183,395" href="" alt="lishui">
                </map>
            </div>
            <div class="col-md-3 map_message">
                <div class="white-panel pn donut-chart">
                    <div class="huzhou col-md-12">
                        <div class="white-header">
                            <h5 class="pane-text-head">湖州 <span class="En">Huzhou</span></h5>
                        </div>
                        <div class="white-data">
                            <p class="p1">监测点总量(个):<span class="p2"> 04</span></p>
                            <p class="p1">沼气平均浓度(%):<span class="p2"> 35</span></p>
                            <p class="p1">今日报警数(次):<span class="p2"> 01</span></p>
                            <p class="p1">七日报警量(次):<span class="p2"> 02</span></p>
                        </div>
                    </div>
                    <div class="taizhou col-md-12">
                        <div class="white-header">
                            <h5 class="pane-text-head">台州 <span class="En">Taizhou</span></h5>
                        </div>
                        <div class="white-data">
                            <p class="p1">监测点总量(个):<span class="p2"> 04</span></p>
                            <p class="p1">沼气平均浓度(%):<span class="p2"> 35</span></p>
                            <p class="p1">今日报警数(次):<span class="p2"> 01</span></p>
                            <p class="p1">七日报警量(次):<span class="p2"> 02</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/bootstrap.js"></script>

</body>

</html>
