<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>浙江省沼气安全监测系统</title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" type="text/css" rel="stylesheet">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/100892/32780/595b3b27f629d80b1873b566.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <nav class="navbar-default navbar text-center" role="navigation"> 
        <span  id="title">浙江省沼气安全监测系统</span>
        <span class="btn" id="loginout" ><a href="/">退出登录</a></span>
    </nav>
    <div class="row" style="margin:0px;">
        <div id="map" class="col-md-4" style="height:100%;"></div>
        <div class="col-md-8" style="border-left: 1px solid #fff;">
            <div class="col-md-4 ScaleMap" style="border-bottom:1px solid #fff;border-right:1px solid #fff;">
                <div id="ScaleMap" style="height:399px;"></div>
            </div>
            <div id="alertLevel" class="col-md-8" style="height:400px;padding-right:25px;border-bottom:1px solid #fff;"></div>
        </div>
        <div class="col-md-8" style="padding-top:10px;border-left: 1px solid #fff;">
            <div class="col-md-8">
                <div id="container" style="height:400px;border-right:1px solid #fff; padding-right:15px;"></div>
            </div>
            <div class="col-md-4 text-center" style="padding-bottom:25px;">
                <h3 class="message-header">24小时报警信息</h3>
                <div id="timenow"></div>
                <h4 style="font-weight:bold; color:#f46e65;margin-bottom:20px;">今日报警总量：<span class="En">08</span></h4>
                <div id="alertBox">
                    <ul id="alertList">
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                        <li>时间： 22:05:00 | 用户：浙大玉泉校区 | 编号：1057 </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="http://cdn.hcharts.cn/highmaps/modules/map.js"></script>
    <script src="https://data.jianshukeji.com/geochina/zhejiang.js"></script>
    <script>
    </script>
    <script type="text/javascript">
        var area = document.getElementById('alertBox');
        var list = document.getElementById('alertList');
        if (list.offsetHeight > area.offsetHeight) {
            var iliHeight = 24; //单行滚动的高度
            var speed = 50; //滚动的速度
            var time;
            var delay = 2000;
            area.scrollTop = 0;
            area.innerHTML += area.innerHTML; //克隆一份一样的内容
            function startScroll() {
                time = setInterval("scrollUp()", speed);
                area.scrollTop++;
            }

            function scrollUp() {
                if (area.scrollTop % iliHeight == 0) {
                    clearInterval(time);
                    setTimeout(startScroll, delay);
                } else {
                    area.scrollTop++;
                    if (area.scrollTop >= area.scrollHeight / 2) {
                        area.scrollTop = 0;
                    }
                }
            }
            setTimeout(startScroll, delay);
        }
        
        setInterval("document.getElementById('timenow').innerHTML = new Date().toLocaleString();", 1000);
    </script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>
