body {
    background: #56607b;
}

.navbar {
    border-radius: 0px;
}

#title {
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    color: #666;
    margin: 0;
    font-family: cursive;
}

#loginout {
    list-style: none;
    line-height: 50px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    float: right!important;
}

.message-header {
    background: #56607b;
    padding: 8px 3px;
    color: rgb(255, 255, 255);
    height: auto;
}

#alertBox {
    height: 240px;
    margin-top: 10px;
    overflow: hidden;
    /*  这个一定要加，超出的内容部分要隐藏，免得撑高中间部分 */
}

#alertBox ul li {
    height: 24px;
    margin-left: 20px;
    padding: 0px;
    color: #fff;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
}

ul {
    list-style: decimal-leading-zero;
    margin-bottom: 0px;
}

#map {
    padding-top: 10px;
}

.En {
    font-family: 'DS-Digitalbb1885aa618a1c';
    font-size: 23px;
}

#timenow {
    color: #eee;
    font-size: 18px;
    font-family: 'DS-Digitalbb1885aa618a1c';
    font-weight: bold;
}

@media (min-width: 992px) {
    #map {
        padding-top: 80px;
    }
}

@media (max-width: 992px){
    .ScaleMap,#alertLevel,#container{
        border-right:0px!important;
    }
}